.header {
    position: static;
    background-color: #67AAEE;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 5px blue;
    border-bottom: 5px blue;
    border-radius: 5px;
}

.directorio {
    display: flex;
    
}
.nav-a {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: blue;
    border-right: 2px solid blue;
}
