.contenidoContactos {
  background-color: hsl(211, 61%, 86%, 0.8);
  color: #333;
  width: 95%;
  align-items: center;
  flex-direction: column;
  display: flex;
  bottom: 0;
  border-radius: 8px;
  border: #3484e0 2px solid;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 100px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.contenidoContactos h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(28px, 5vw, 45px);
  color: #e24a4a;
  text-align: center;
  display: inline-block;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000, 2px 2px 4px #000;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.contacto {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;   
  width: 100%;
}

#emailForm {
  margin-bottom: 30px;
  width: 50%;
  color: #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;   
}

#message{
  resize: none;
  height: 100px;
  width: 100%;  
  overflow: auto;
}

#tituloCaja{
  border: 2px solid #bb4949;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: linear-gradient(135deg, #00247D 0%, #CF142B 50%, #FFFFFF 100%);
  padding: 10px 20px;
}

form{
  background: #eee9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #bb4949;
  border-left: 2px solid #bb4949;
  border-bottom: 2px solid #bb4949;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 50px;
}

label {
  width: 100%;
  display: block; 
  font-size: 20px;
  color: #448fd9;
  text-align: left;
  padding-top: 20px;
  margin-bottom: 10px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

input,
textarea{
  border-radius: 8px;
  padding: 10px;
}

input,
textarea {
  display: block;
  height: 30px;
  font-size: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #000;
  border: 2px solid #4a90e2;
  margin-top: 5px;
  padding: 5px;
}


.boton {
  all: unset;
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
  padding: 10px 15px;
  background: #ffffff;
  color: #448fd9;
  outline: #448fd9 2px solid;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-family: sans-serif;
}

.boton:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #448fd9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  outline: rgb(34, 115, 208) 1px solid;
  border-radius: 5px;
}

.contactoTexto {
  width: 35%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#informacion{
  background: #eee9ff;
  border-left: 2px solid #bb4949;
  border-right: 2px solid #bb4949;
  border-bottom: 2px solid #bb4949;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 30px;
}

.contactoTexto h2, #emailForm h2{
  font-family: math;
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000, 2px 2px 4px #000;
}

.contactoTexto div h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #448fd9;
  text-align: left;
  padding-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
}

.contactoTexto #informacion p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #e2e2e2;
  text-align: left;
  margin-left: 15px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
  margin-bottom: 20px;
}

.contactoTexto #informacion a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #e2e2e2;
  text-align: left;
  padding-top: 20px;
  margin-left: 15px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
}

.contactoTexto #informacion a:hover {
  color: #448fd9;
}


table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    margin: 1rem auto;
    font-family: Arial, sans-serif;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
  }

  thead {
    background: linear-gradient(135deg, #00247D 0%, #CF142B 50%, #FFFFFF 100%);
    color: white;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
  }

  tbody tr {
    background-color: #f9f9f9;
  }


.localizaciones {
  width: 80%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.localizaciones h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  color: #4a90e2;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000, 2px 2px 4px #000;
  display: inline-block;
  border-bottom: #4a90e2 2px solid;
  padding-bottom: 5px;
  text-align: left;
}

.localizacion {
  width: 100%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  border: #3a3636 4px solid;
  
}

.textoLocalizacion {
  width: 45%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 20px;
  background: linear-gradient(135deg, #00247D 0%, #CF142B 50%, #FFFFFF 100%);
}

.textoLocalizacion h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  color: #f3f3f3;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000, 2px 2px 4px #000;
  display: inline-block;
  padding-bottom: 5px;
  text-align: left;
}

.textoLocalizacion p {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(10px, 5vw, 16px);
  color: #e2e2e2;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
  1px 1px 1px #000, 2px 2px 4px #000;
}

.ubicacion {
  padding: 20px 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 55%;
  background: #4a90e2;
}

iframe{
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 400px) {
  iframe{
    height: 250px;
  }
}

@media (max-width: 900px) {
  .contacto{
    flex-direction: column;
    align-items: center;
  }

  .localizacion{
     flex-direction: column;
  }

  .textoLocalizacion{
    width: 100%;
  }

  .ubicacion{
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
  }
}

@media (max-width: 1260px) {
  .contenidoContactos{
    padding-top: 30px;
  }

  h1{
    margin-bottom: 10px;
  }

  #emailForm, .contactoTexto {
    width: 90%;
    min-width: 290px;
  }

  
}