.contenidoContactos {
  height: 80%;
  background-color: #c5daf1;
  color: #333;
  padding-top: var(--header-height);
  width: 100%;
  align-items: center;
  z-index: 0;
  flex-direction: column;
  display: flex;
  bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenidoContactos h1 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  color: #4a90e2;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #4a90e2;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000, 2px 2px 4px #000;
  padding-top: 30px;
  margin-bottom: 20px;
  margin-right: 100px;
}

.contacto {
  width: 80%;
  padding: 20px;
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

#emailForm {
  width: 40%;
  padding: 20px;
  color: #333;
  margin-left: 20px;
}

label {
  display: block; /* Hace que el texto del label aparezca en una línea separada */
  margin-top: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #bb4949;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-right: 20px;
}

input,
textarea,
button {
  border-radius: 8px;
  padding: 10px;
}

input,
textarea {
  display: block;
  width: 100%;
  background-color: #4a90e2;
  color: #000;
  border: 2px solid #bb4949;
  margin-top: 5px;
  padding: 5px;
}

button {
  background-color: #4a90e2;
  color: #333;
  border: 2px solid #bb4949;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #346092;
  color: #ffffff;
}

.contactoTexto {
  width: 60%;
  padding: 10px;
  margin-left: 40px;
  background: linear-gradient(
    to bottom,
    #4a90e2 16%,
    #4a90e2 17%,
    #222 17%,
    #ce8f8f 18%,
    #ce8f8f 100%
  );
  color: #333;
  border: 2px solid #bb4949;
  border-radius: 8px;
}

.contactoTexto h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  color: #bb4949;
  text-align: center;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000, 2px 2px 4px #000;
}

.contactoTexto h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #448fd9;
  text-align: left;
  margin-right: 10px;
  padding-top: 20px;
  margin-left: 40px;
  margin-bottom: 10px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
}

.contactoTexto p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #bb4949;
  text-align: left;
  margin-right: 10px;
  margin-left: 40px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
  margin-bottom: 10px;
}

.contactoTexto a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #448fd9;
  text-align: left;
  margin-right: 10px;
  padding-top: 20px;
  margin-left: 40px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px rgb(39, 91, 150), 2px 2px 4px #000;
}

.contactoTexto a:hover {
  color: #bb4949;
}
