*{
    margin: 0;
    
}

body{
    background-color: #aed2f7;
    bottom:0;
}

#header {
    width: 100%;
    background-color: #448fd9;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

/* Estado reducido cuando se hace scroll , la clase se añade traves de js*/
#header.shrink {
    padding: 10px 0; 
    background-color: rgba(68, 143, 217, 0.9); /* Un poco de transparencia */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    backdrop-filter: blur(5px);
    right: 0;
}

#titulo{
    width: 30%; 
    text-align: left;
    color: rgb(25, 96, 177);
    transform: translateY(-20px);
    animation: fadeInUp 2s ease-out forwards;
    text-shadow: -1px -1px 1px #000, 
                 1px -1px 1px #000, 
                 -1px 1px 1px #000, 
                 1px 1px 1px rgb(39, 91, 150),
                 2px 2px 4px #000;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#directorio{
    width: 60%; 
    text-align: right;
}

#header,div{
    display: inline-block;
    vertical-align: middle;
}

.nav-a {
    flex: 1;
    padding: 10px 15px;
    color: rgb(34, 115, 208);
    text-decoration: none;
    font-weight: bolder;
    transition: all 0.01s ease-in-out;
    text-shadow: -1px -1px 1px #000, 
                 1px -1px 1px #000, 
                 -1px 1px 1px #000, 
                 1px 1px 1px rgb(5, 77, 160),
                 2px 2px 4px #000;
}

.nav-a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #448fd9;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    bottom:0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

#footer nav div{
    display: inline-block;
    vertical-align: middle;
}

#textoFooter{
    text-align: center;
    color: rgb(25, 96, 177);
    text-shadow: -1px -1px 1px #000, 
                 1px -1px 1px #000, 
                 -1px 1px 1px #000, 
                 1px 1px 1px rgb(39, 91, 150),
                 2px 2px 4px #000;
    font-size: 20px;
}

#redes{
    text-align: left;
}

#redes nav{
    display: inline-block;
    padding: 2em;
    align-items: center;
    justify-content: center;
}

#redes nav a{
    display: flex;
    align-items: center;
    justify-content: center;

}

#redes nav a:link, a:visited, a:active, a::after, a::before{
    text-decoration:none;
}

#redes nav img{
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

#redes nav p{
    color: rgb(34, 115, 208);
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 
                 1px -1px 1px #000, 
                 -1px 1px 1px #000, 
                 1px 1px 1px rgb(39, 91, 150),
                 2px 2px 4px #000;
    
}